body{
    font-family: Arial;
    background-color: rgb(193, 188, 188);
    
}

.class1{
    font-family: Arial;

    color: rgb(30, 30, 221);
}

#container{

    text-align: center;
    background-color: aliceblue;
    max-width: 500px;
    margin:auto;
    
}